.vf-page-wrapper {
    display: flex;
    justify-content: center;
}

.vf-page-content {
    display: flex;
    flex-direction: column;
    width: 684px;
    max-width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    gap: 24px;
}

.vf-page-title {
    font-family: Verdana, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 116%;
    color: #000000;
    margin: 0;
}

.vf-page-subtitle {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #000000;
    margin: 0;
}

.vf-page-subheader {
    font-family: Verdana;
    font-weight: 700;
    font-size: 25px;
    line-height: 115.99999999999999%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

.vf-accordion-text {
    font-family: Verdana;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
}

.vf-accordion-answer {
    font-family: Verdana;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
}

.vf-accordion-section {
    margin-top: 20px;
    margin-bottom: 10px;
}

.accordion {
    --bs-accordion-active-bg: #F3F3F3;
    --bs-accordion-active-color: black;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-body {
    background-color: #F3F3F3;
}

.vf-accordion-subsection {
    font-family: Verdana;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #003663;
}

.vf-edit-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.vf-edit-button-img {
    width: 50px;
    height: auto;
}
