::deep textarea.master-input{
    width:684px !important;
    height:116px;
}

::deep textarea, ::deep .master-text-field-full {
    margin-top: 4px;
}

::deep .master-charcount {
    text-align: right;
    font-size: 12px;
    color: #666;
    margin-top: 4px;
    font-family: Verdana,sans-serif;
}
