.gov-frame {
    width: 684px;
    height: 625px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.gov-frame-h1 {
    width: 684px;
    height: 32px;
    font: var(--font-primary);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
}
