.qsf-section {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 684px;
}

.qsf-entity-details,
.qsf-no-services {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-row{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    gap:16px;
    flex-wrap:wrap;
}

/* Zip + Extension row */
.bi-zip-row {
    display: flex;
    align-items: flex-start;
    gap: 0;
    flex-direction: row;
}

.bi-zip-dash {
    align-self: inherit;
    margin-top: inherit;
    font-size: inherit;
    line-height: inherit;
}

.bi-zip-field, .bi-ext-field {
    display: flex;
    flex-direction: column;
    margin-left:7px;
}

::deep textarea.master-input{
    width:684px !important;
    height:116px;
}

::deep textarea, ::deep .master-text-field-full {
    margin-top: 4px;
}

::deep .master-charcount {
    text-align: right;
    font-size: 12px;
    color: #666;
    margin-top: 4px;
    font-family: Verdana,sans-serif;
}
