

.employee-information-header {
    border-bottom: 1px;
    gap: 6px;
    border-bottom: none !important;
}



.page-header {
    font-family: Verdana;
    font-weight: Bold;
    font-size: 30px;
    color: #000000;
    line-height: 1.15;
    padding-bottom: 24px;
    border-bottom: none !important;
    margin-bottom: 4px !important;
}

.wage-header {
    /*width: 990px;*/
    height: 70px;
    border-bottom: 1px !important;
    gap: 6px;
    /*border-bottom: none !important;*/
}

.border-title {
    border-bottom: 1px solid #ADADAD;
    padding-top: -10px;
    margin-top: -16px;
}
