.up-to-date {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    font-weight: 700;
    font-size: 25px;
    line-height: 115.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #1A8922;
}
