@page "/employer-registration/steps"
@rendermode InteractiveServer
@using UI.EmployerPortal.Razor.SharedComponents.Wizards
@using UI.EmployerPortal.Web.Features.EmployerRegistration.Components

<PageTitle>Employer Registration</PageTitle>

<div class="page-content">

    <Wizard Steps="@_wizardSteps"
            @bind-CurrentStep="@_currentStep"
            ShowCancelButton="false"
            OnBackClick="HandleBackClick"
            OnActionClick="HandleActionClick"
            AutoNavigateOnAction="false"
            DisableBackOnFirstStep="false">

        @if (_currentStep == 3)
        {
            <BusinessInformation @ref="_businessInformationRef" />
        }

        @if (_currentStep == 4)
        {
            <BusinessContact @ref="_businessContactRef" />
        }

    </Wizard>

</div>
